@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
::before, ::after, * {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn {
    color: #fff;
    padding: 6px 30px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 0 10px;
}

header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.04);
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    color: #21272f;
    font-size: 22px;
    font-weight: 700;
}


.logo span {
    color: #00b862;
}

.desktop {
    display: flex;
}

.desktop li {
    margin: 0 15px;
}

.desktop li:last-child {
    margin-right: 0px;
}

.desktop li a {
    color: #fff;
}

.buttons-mobile {
    display: none;
}

/* hero */
.hero-section {
    position: relative;
}

.hero-section::before {
    position: absolute;
    right: 0;
    content: "";
    top: -80px;
    width: 50%;
    height: calc(100% + 80px);
    background-color: #00b862;
    border-radius: 0% 0% 0% 100% / 0% 100% 0% 100%;
}

.hero-section::after {
    position: absolute;
    left: 0;
    content: "";
    top: 25%;
    width: 60px;
    height: 200px;
    background-color: rgba(0,184,98, 0.4);
    z-index: -1;
    clip-path: polygon(0 2%, 0% 100%, 100% 54%);
}

.hero {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shapes {
    width: 100%;
    position: relative;
    height: inherit;
}

.shape01 {
    position: absolute;
    left: calc(100% - 150px);
    top: 40px;
    width: 80px;
    height: 80px;
    content: "";
    border: 1px solid #fff;
    animation: myanimation01 8s linear infinite;
}

@keyframes myanimation01 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero-content-text {
    flex: 1;
    padding-right: 20px;
}

.hero-content-text span {
    font-weight: 600;
    color: #21272f;
    margin-bottom: 0px;
}

.hero-content-text h1 {
    color: #00b862;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.11);
}

.hero-content-text h1::before {
    position: absolute;
    content: "Daniel Ferreira";
    right: -20px;
    top: -25px;
    color: rgba(0,0,0,0.04);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.11);
    z-index: -1;
    font-size: 48px;
}

.hero-content-text p {
    color: #21272f;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hero-content-text button {
    outline: none;
    padding: 16px 48px;
    border-radius: 3px;
    background-color: #00b862;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    border: none;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0,0,0,.25);
}

.hero-content-text button::before {
    position: absolute;
    content: "";
    right: -20px;
    bottom: -20px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.09);
    z-index: -1;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow: 3px 3px 10px rgba(0,0,0,.15);
}

.hero-box-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.hero-box-img img {
    max-width: 500px;
}