@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&family=Inter:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    /*font-family: 'Inter', sans-serif;*/
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding: 0 10px;
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo {
    color: #21272f;
    font-size: 22px;
    font-weight: 700;
}


.logo span {
    color: #00b862;
}

.desktop {
    display: flex;
}

.desktop li {
    margin: 0 10px;
}

.desktop li:last-child {
    margin-right: 0px;
}

.desktop li a {
    color: #21272f;
}

.buttons-mobile {
    display: none;
}

/* hero */
.hero {
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content-text {
    flex: 1;
    padding-right: 20px;
}

.hero-content-text span {
    font-weight: 700;
    color: #21272f;
}

.hero-content-text h1 {
    color: #00b862;
    font-size: 50px;
    margin: 10px 0px;
    font-weight: 700;
}

.hero-content-text p {
    color: #21272f;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
}

.hero-content-text button {
    outline: none;
    padding: 16px 48px;
    border-radius: 3px;
    background-color: #00b862;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    border: none;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.hero-box-img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.hero-box-img img {
    max-width: 500px;
}