@media screen and (max-width: 911px) {
    .student-box {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    a.btn {
        border-color: #fff;
    }
    /* Navbar */
    .navbar .desktop {
        position: absolute;
        left: -1000px;
        top: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 80px);
        z-index: 999;
        background-color: #21272f;
        transition: all 0.5s ease-in-out;
    }
    .navbar .desktop li {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin: 10px 0px;
        width: 100%;
    }
    .navbar .desktop li a {
        color: #fff;
    }
    .buttons-mobile {
        display: block;
    }

    .btn-menu-open,
    .btn-menu-close {
        font-size: 25px;
        color: #fff;
        cursor: pointer;
    }

    .btn-menu-close {
        display: none;
    }

    .shape01 {
        display: none;
    }

    .hero-content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Hero-content-text */
    .hero .hero-content-text h1 {
        font-size: 30px;
        margin-bottom: 22px;
    }
    .hero-content-text p {
        font-size: 16px;
    }
    .hero-content-text button {
        padding: 8px 34px;
    }
    .hero-content-text h1::before {
        font-size: 32px;
    }
}


@media screen and (max-width: 659px) {
    .hero {
        flex-direction: column-reverse;
        height: calc(100vh - 80px);
        justify-content: center;
    }

    .student-box {
        margin: 10px;
        width: 100%;
    }

    .hero-box-img img {
        max-width: 350px;
    }

    .hero-box-img {
        display: flex;
        align-items: flex-end;
        height: 50%;
    }

    .hero-section .hero .hero-box-img {
        margin: 30px 0px 40px 0px;
        width: 80%;
        justify-content: center;
    }

    .hero-content-text {
        padding-right: 0px;
        text-align: center;
    }

    .hero-content-text p {
        font-size: 16px;
        padding: 0 24px;
        text-align: left;
    }

    .hero-content-text h1::before {
        display: none;
    }

    .hero-section::before {
        top: -80px;
        left: 0;
        width: 100%;
        height: 45%;
        border-radius: 100% 0% 100% 0% / 0% 0% 100% 0%;
    }

    .logo span {
        color: #fff;
    }
}

@media screen and (min-width: 418px) {
    .hero-content-text h1 {
        font-size: 24px;
        line-height: 26px;
    }
    .hero-content-text button {
        padding: 8px 28px;
        margin-bottom: 10px;
    }

    .hero-box-img img {
        width: 90%;
    }
}

@media screen and (max-width: 340px) {
    .hero .hero-content-text h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 290px) {
    .hero .hero-content-text h1 {
        font-size: 24px;
    }
}