@media screen and (max-width: 768px) {
    /* Navbar */
    .navbar .desktop {
        position: absolute;
        left: -1000px;
        top: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 80px);
        z-index: 10;
        background-color: #21272f;
        transition: all 0.5s ease-in-out;
    }
    .navbar .desktop li {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        margin: 10px 0px;
        width: 100%;
    }
    .navbar .desktop li a {
        color: #fff;
    }
    .buttons-mobile {
        display: block;
    }

    .btn-menu {
        font-size: 20px;
        color: #21272f;
        cursor: pointer;
    }

    /* Hero-content-text */
    .hero-content-text h1 {
        font-size: 30px;
    }
    .hero-content-text p {
        font-size: 15px;
    }
    .hero-content-text button {
        padding: 8px 34px;
    }
}


@media screen and (max-width: 649px) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero-content-text {
        padding-right: 0px;
        text-align: center;
    }

    .hero-content-text p {
        font-size: 13px;
    }
}

@media screen and (max-width: 418px) {
    .hero-content-text h1 {
        font-size: 24px;
        line-height: 26px;
    }
    .hero-content-text button {
        padding: 8px 28px;
    }
}